@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url('./fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
    url('./fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes/TTLakes-Thin.eot');
    src: local('TT Lakes Thin'), local('TTLakes-Thin'),
    url('./fonts/TTLakes/TTLakes-Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TTLakes/TTLakes-Thin.woff') format('woff'),
    url('./fonts/TTLakes/TTLakes-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('./fonts/TTLakes/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('./fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
    url('./fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-size: 100%;
    height: 100%;
    font-family: "TT Lakes", sans-serif;
    color: #1B1C21;
    margin: 0;
    padding: 0;
}

.sideBar {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 100%;
    background: white;
    box-shadow: 16px 0 52px 0 #0E185033;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

.upperMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 320px;
    margin: 0;
    padding: 15px;
    column-gap: 20px;
    box-sizing: border-box;
}

.upperMenu__search {
    margin-left: auto;
}

.mainMenu__option:hover {
    color: #7E7E82;
    transition-duration: 0.5s;
}

.mainMenu__list {
    list-style: none;
    display: block;
    padding: 0;
    margin-bottom: 0;
}

.mainMenu__option {
    margin: 15px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    position: relative;
}

.mainMenu__highlight {
    position: absolute;
    top: 5px;
    left: -15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.mainMenu__option:hover .mainMenu__highlight{
    opacity: 1;
}

/*.contact {*/
/*    transform: translateY(230px);*/
/*}*/

.contact__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 15px;
    column-gap: 20px;
    box-sizing: border-box;
}

.contact__profile {
    margin-right: auto;
}

.contact__mail {
    padding-left: 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}

.contact__phoneNumber {
    font-family: "TT Lakes", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

.contact__lang {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding: 30px 20px;
}

.contact__mail:hover {
    color: #7E7E82;
    transition-duration: 0.5s;
}

.contact__phoneNumber:hover {
    color: #7E7E82;
    transition-duration: 0.5s;
}

.contact__lang_type:hover {
    color: #7E7E82;
    transition-duration: 0.5s;
}

